{% extends 'base.html' %}
{% block title %}Password changed{% endblock %}
{% block breadcrumb %}Account security{% endblock %}
{% block content %}
<section class="panel feature-empty"><span class="empty-icon"><svg class="icon"><use href="#i-check"/></svg></span><h1>Password updated<span class="heading-dot">.</span></h1><p>Your new password is ready to use next time you sign in.</p><a href="{% url 'mail:dashboard' %}" class="button button-primary">Return to your outbox<svg class="icon"><use href="#i-arrow"/></svg></a></section>
{% endblock %}
